
/*helper border styles*/
* {
  border: 1px dotted red;
}
/*border: 2px dotted purple;*/

/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*CORRECT CODE FROM HELPER CODE ADDED BECAUSE MY MOBILE - HOME PAGE DOESN'T HAVE THE FEATURES BE SIDE BY SIDE*/

/*Content Wrapper helper style commented out because I have it below and want to see the difference

.content-wrapper {
    width: 90%;
    margin: 50px 0;
  }
  */
  

/*----Base Header - Footer Styles----*/

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  /*align-items: center;*/
  /*CORRECT CODE FROM HELPER CODE ADDED*/
  width: 100%;
}


header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  /*CORRECT CODE FROM HELPER CODE ADDED*/
  margin: 0;
}

/*CORRECT CODE FROM HELPER CODE ADDED*/
.header-divider {
  width: 100%;
  height: 1px;
  margin: 10px 0 20px 0;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
*/


/*CORRECT CODE FROM HELPER CODE ADDED*/
footer {
  flex-direction: column;
}

footer p {
  margin: 0;
}

footer .content-wrapper {
  width: 55%;
  margin: 50px 0;
}

footer .contact {
  margin-bottom: 50px;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .copyright {
  margin: 20px 0;
}

/*-----Mobile Styles------*/

/*CORRECT CODE FROM HELPER CODE ADDED*/
.hero-area {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  
}

/*HEADER STYLES*/
header {
  padding: 15px 0;
  
}

header nav {
  width: 60%;
  
}

header nav ul {
  width: 45%;
  
}

.header-divider {
  width: 100%;
}

/*CORRECT CODE FROM HELPER CODE ADDED*/
aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/*FOOTER STYLES*/
footer .content-wrapper {
  width: 55%;
  margin: 50px 0;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .copyright {
  margin: 40px;
  padding: 10px;
}

footer .copyright p {
  padding: 5px;
}

/*CONTENT WRAPPER STYLES*/
.content-wrapper {
  width: 90%;
  padding: 0;
  margin: 0 25px;
  
}

/*CORRECT CODE FROM HELPER CODE ADDED*/
.features {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.features h2 {
  margin-bottom: 60px;
}

.features article {
  width: 63%;
  margin: 30px 0;
}

.features .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features p {
  margin: 0;
}

/*FEATURES STYLES
article .features-item-description {
  width: 45%;
  margin: 0 100px;
}
*/


/*REVIEW STYLES*/
.reviews h3 {
  width: 80%;
  margin: 10px;
}

/*CORRECT CODE FROM HELPER CODE ADDED*/
.reviews {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.reviews h2 {
  margin-bottom: 40px;
}

/*----------ABOUT PAGE--------------*/
.mission {
  padding: 10px 15px 10px 0;
  
}

/*CORRECT CODE FROM HELPER CODE ADDED*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width:768px){
  /*Tablet Styles Here*/

  /*CORRECT CODE FROM HELPER CODE ADDED BECAUSE MY MOBILE - HOME PAGE DOESN'T HAVE THE FEATURES BE SIDE BY SIDE*/

  /*CORRECT CODE FROM HELPER CODE ADDED*/
  .content-wrapper {
    max-width: 640px;
    margin: 100px 0;
  }

  /*---------------HOMEPAGE----------------*/
  header {
    padding: 20px;
    justify-content: space-around;
  }

  /*Header Nav Section*/
   header nav ul {
    justify-content: space-between;
  }

  header nav {
    width:35%;
  }

  header .content-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  /*To get rid of the header divider*/
  .header-divider {
    display: none;
  }


  /*-----------HOMEPAGE-------------*/

  /*Aside--Sign Up Form Area*/

  aside {
    display: flex;
    justify-content: space-around;
  }

  aside .content-wrapper {
    /*CORRECT CODE FROM HELPER CODE ADDED - also added the class instead of styling the general element*/
    
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    /* align-items: center;
    margin: 50px 0;*/
  }

  aside .form {
    padding: 40px 20px;
    
  }

  aside .form-description {
    padding: 0 60px;
    
  }

  /* 
  aside .form-description p,
  aside .form-description h3 {
    border: 2px dotted purple;
  }

  main aside {
    border: 2px dotted purple;
  }
  */

  aside .content-wrapper {
    margin: 10px 20px;
    
  }

  /*CORRECT CODE FROM HELPER CODE ADDED - but removes the classes for the form  */
  aside .form-description, 
  aside .content-wrapper {
      width: 45%;
      margin: 0;
      
    }
  
  
  /*CORRECT CODE FROM HELPER CODE ADDED*/
  .features article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    /*my new code that helped create columns*/
    flex-basis: 40%;
    padding: 10px;
    margin: 15px;
  }

  .features .features-item-description {
    width: 50%;
  }

  /*commenting out to see if the helper code helps my issue
  .features {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  .features article {
    width: 60%;
    margin: 10px 0;
  }

  .features .features-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .features p {
    margin: 0;
  }*/

  /*CORRECT CODE FROM HELPER CODE ADDED*/
  .reviews article {
    display: flex;
    justify-content: space-between;
  }

  .reviews article div {
    width: 49%;
  }


  /*Reviews*/
  .reviews {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  .reviews h2 {
    margin: 20px 0;
  }

  .reviews h3 {
    width: 45%;
  }

  /*.reviews h3, 
  .reviews p {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }
*/

  /*Footer*/
  footer .footer-content {
    width: 87%;
    margin: 40px 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 10px 30px;*/
  }

  footer .content-wrapper {
    width: 100%;
    padding: 0 65px;
  }

  footer .contact {
    margin-bottom: 0;
  }

  

  /*--------------FAQ PAGE-------------*/
  
  .faq .content-wrapper {
    margin: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .faq-content {
    flex-basis: 40%;
    padding: 30px;
    
  }

  /*CORRECT CODE FROM HELPER CODE ADDED*/
  .faq h2 {
    width: 100%;
  }

  /*
  .faq-content {
    flex-basis: 200px;
  }
  */



  /*-----ABOUT PAGE-----*/

  .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
  }

  .mission .content-wrapper {
    padding: 10px;
    margin: 40px 20px 50px 0;
    
  }

  .mission-content p {
    width: 45%;
    
  }

  .mission {
    padding-left: 45px;
    
  }

  .contact-section .content-wrapper h2 {
    width: 90%;
    
  }

  .contact-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .contact-section .content-wrapper {
    margin: 50px 45px;
    padding: 15px;
  }


}

/*REMINDER: pay attention to the header divider div*/



@media only screen and (min-width: 1200px) {
  /*Desktop Styles Here*/

  /*STUCK: fixing the header, fixing the review section, spacing out the faqs*/

  header {
    width: 100%;
    border: 2px dotted purple;
  }

  header .content-wrapper {
    display: flex;
    justify-content: space-between;
    /*padding: 0 280px;*/
    border: 2px dotted #66f7e3;
  }
  
  header nav {
    width: 35%;
    display: flex;
    justify-content: center;
    border: 2px dotted #edf10f;
  }
  
  header nav ul {
    width: 45%;
    border: 2px dotted #078021;
  }

  header img {
    border: 2px dotted black;
  }

  /*---------------HOMEPAGE-------------------*/

  /*--ASIDE--SIGNUP FORM--*/

  aside {
    display: flex;
    justify-content: space-around;
  }

  aside .content-wrapper {
    /*CORRECT CODE FROM HELPER CODE ADDED - also added the class instead of styling the general element*/
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    /* align-items: center;
    margin: 50px 0;*/
  }

  aside .form {
    padding: 40px 20px;
    
  }

  aside .form-description {
    padding: 0 60px;
    
  }

  /*CORRECT CODE FROM HELPER CODE ADDED - but removes the classes for the form  */
  aside .form-description, 
  aside .content-wrapper {
     width: 35%;
     margin: 0;
    }

  
  /*Reviews*/
  .reviews {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  .reviews h2 {
    margin: 40px 0;
  }

  .reviews h3 {
    width: 50%;
  }

  /*

  .reviews article {
    padding: 50px 100px;
  }
  
  .reviews .content-wrapper {
    width: 200%;
    border: 2px dotted #2f4beb;
  }
  */

  /*Footer*/
  footer {
    padding: 5px 0;
  }


  footer .content-wrapper {
    width: 100%;
    padding: 0 65px;
  }

  /*CORRECT CODE FROM HELPER CODE ADDED*/
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer .contact {
    margin-bottom: 0;
  }

  /*------------------FAQ----------------------*/

  .faq {
    padding-left: 285px;
  }

  .faq .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    /*margin: 60px 150px;*/
  }

  .faq-content {
    flex-basis: 40%;
    margin-bottom: 20px;
  }

  .faq h2 {
    padding: 10px;
  }

  .faq h4,
  .faq p {
    width: 100%;
  }


  /*CORRECT CODE FROM HELPER CODE ADDED*/


  /*-------------------ABOUT--------------------*/

  .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .mission .content-wrapper {
    /*
    padding: 10px;
    margin: 40px 20px 50px 0;*/
    border: 2px dotted rgb(4, 128, 0);
  }

  .mission-content p {
    width: 45%;
    
  }

  .mission {
    border: 2px dotted rgb(126, 128, 0);
  }

  .contact-section .content-wrapper h2 {
    width: 90%;
    
  }
  
  /*contact section*/
  .contact-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }

  .contact-section .content-wrapper {

    border: 2px dotted purple;
    /*
    margin: 50px 45px;
    padding: 15px;*/
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

