

/*helper border styles

* {
  border: 1px dotted red;
}

border: 2px dotted purple;
border: 2px dotted dodgerblue;
border: 2px dotted rgb(247, 10, 89);
*/


/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*CORRECT CODE FROM HELPER CODE ADDED IN BECAUSE MY MOBILE - HOME PAGE DOESN'T HAVE THE FEATURES BE SIDE BY SIDE AND I NEED TO UNDERSTAND WHAT I MISSED*/

/*GLOBAL STYLES*/
html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #e2e3ed;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: #e2e3ed;
  text-decoration: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 2.25em;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875em;
  font-weight: normal;
}

h3,
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  font-weight: normal;
}

p {
  font-size: 0.875em;
  line-height: 18px;
}

address {
  text-align: center;
  font-style: normal;
}

/*.content-wrapper {

}*/

img { 
	width: 100%;
}
 
figure {
        margin: 0;
}

/*CONTENT WRAPPER STYLES*/
.content-wrapper {
  width: 90%;
  padding: 0;
  margin: 0 25px;
  
}
/*----Base Header - Footer Styles----*/

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #202322;
}


/*header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}*/

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 50px;
  padding: 0 5px;
  /*align-items: center;
  width: 100%;*/
  /*CORRECT CODE FROM HELPER CODE ADDED*/
}

header nav ul li {
  font-size: 1.125em;
  font-weight: 400;
}

header img { 
	width: 80%;
}


header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  /*CORRECT CODE FROM HELPER CODE ADDED*/
  margin: 0;
}

/*CORRECT CODE FROM HELPER CODE ADDED*/
.header-divider {
  min-width: 760px;
  height: 1px;
  margin: 10px 0 20px 0;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
*/


/*CORRECT CODE FROM HELPER CODE ADDED*/
footer {
  flex-direction: column;
}

footer p {
  margin: 0;
}

/*footer .content-wrapper div {
  width:100%;
  margin: 50px 0;
}*/

footer .contact {
  margin-bottom: 50px;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .copyright {
  margin: 20px 0;
}

footer h4 {
  text-align: center;
}

/*-----------------MOBILE STYLES-----------------*/
/*HEADER STYLES*/
header {
  /*padding: 40px 0;*/
  text-align: center;
  padding-bottom: 30px;
}


header nav {
  width: 90%;
  /*padding-left: 20px;*/
}

header nav ul {
  /*width: 55%;*/
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.125em;
}

.header-divider {
  width: 100%;
  background-color: #3a3a3a;
}

header figure {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/*CORRECT CODE FROM HELPER CODE ADDED
.hero-area {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
*/

/*Hero Image*/
.hero-section {
  padding-top: 20px;
  background-image: url('../img/assets/jake-melara-30679-unsplash\ copy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  min-height: 500px;

}

.hero-section .content-wrapper {
  margin: 0;
}

.hero-section h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2em;
  padding-left: 20px;
}


/*CORRECT CODE FROM HELPER CODE ADDED*/
aside {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #527158;
}

.content-wrapper .form-description {
  width: 100%;
  padding: 0;
  margin-bottom: 0;
}

aside .form {
  margin-top: 0;
}

aside .form-description h3 {
  margin-bottom: 2px;
}

aside .form h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

aside p {
  margin-top: 10px;
  margin-bottom: 0;
}

.form {
  padding: 0 20px;
  margin-top: 0;
  margin-bottom: 50px;
}




/*FEATURES STYLES*/
/*Features Icons*/
.features i {
	font-size: 3.75em;
        margin-bottom: 40px;
}

/*CORRECT CODE FROM HELPER CODE ADDED*/
.features {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding-bottom: 30px;
}

.features h2 {
  margin-bottom: 40px;
  padding: 20px;
}

.features article {
  width: 63%;
  margin: 30px 0;
}

.features .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
}

.features p {
  margin: 0;
}

.feature figure {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features {
  background-image: url('/img/assets/rawpixel-800820-unsplash1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}

/*FEATURES STYLES
article .features-item-description {
  width: 45%;
  margin: 0 100px;
}
*/


/*REVIEW STYLES*/
.reviews h3 {
  width: 70%;
}

/*REVIEW SECTION - CORRECT CODE FROM HELPER CODE ADDED*/
.reviews {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #2a423a;
  padding-bottom: 50px;
}

.reviews h2 {
  margin-top: 45px;
  margin-bottom: 20px;
}


/*FOOTER STYLES*/
footer .content-wrapper {
  width: 65%;
  margin: 0;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*footer .copyright p {
  border: 4px dotted #00ff22;
}*/

.contact {
  margin: 0;
}

.social {
  margin-top: 0;
}

.social i {
	font-size: 2em;
        margin-bottom: 10px;
        color: #527158;
}

/*----------ABOUT PAGE--------------*/
.mission {
  padding: 20px 15px 50px 0;
  background-color: #527158;
  
}

.contact-section {
  padding: 20px;
  background-color: #2a423a;
}

.contact-section h4,
.contact-section p {
  text-align: left;
}

.contact-section h4 {
  margin-bottom: 0;
}

.contact-section p {
  margin-bottom: 50px;
}

/*Map Styles for Mobile*/
.map figure {
  width: 100%;
  height: 0; 
  padding-bottom: 125%; 
  overflow: hidden;
  position: relative;
}
 
.map iframe {
  width: 100%;
  height: 100%;
  position: absolute; 
  top: 0; 
  left: 0; 
}


/*--------------FAQ PAGE----------------*/
.faq {
  background-color: #527158;
  padding: 10px 10px 30px 10px;

}

.faq-content h4 {
  margin-bottom: 0;
  
}

.faq-content {
  margin-bottom: 20px;
  
}

/*CORRECT CODE FROM HELPER CODE ADDED*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
  /*--NOTES FROM CLASS:"form on your homepage accepts data from the user with <input> elements -an email input and a button to submit the info"--*/  
  
  aside .form {
    margin-top: 30px;
  }
   
  input[type=text] {
    box-sizing: border-box;
    width: 100%;
    color: #2a423a4d;
    font-style: italic;
    padding: 0.675em;
  }
   
  input[type=button] {
    width: 100%;
    padding: 12px 0;
    margin-top: 20px;
    background-color: #2a423a;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    color: #e2e3ed;
    border: none;
    text-align: center;
    text-transform: uppercase;
  }







@media only screen and (min-width:768px){
  /*Tablet Styles Here*/

  /*CORRECT CODE FROM HELPER CODE ADDED BECAUSE MY MOBILE - HOME PAGE DOESN'T HAVE THE FEATURES BE SIDE BY SIDE*/

  /*CORRECT CODE FROM HELPER CODE ADDED*/
  .content-wrapper {
    max-width: 640px;
    /*margin: 100px 0;*/
  }

  header img { 
    width: 60%;
  }

  header {
    /*padding: 10px 0;*/
    padding-top: 30px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
  }

  header figure {
    width: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  
  }

  header a {
    padding: 0;
  }

  header img{
    margin: 0;
  }

  /*Header Nav Section*/
  header nav {
    /*padding: 0 20px;*/
    width:30%;
    display: flex;
    justify-content: space-around;
    
  }

  header nav ul {
    align-items: center;
    
  }

  header nav ul li {
    margin: 10px;
    font-size: 1em;
    font-weight: 400;
  }

  header .content-wrapper {
    max-width: 980px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    
    /*width: 100%;
    margin-left: 100px;*/
  }

  /*To get rid of the header divider*/
  .header-divider {
    display: none;
  }


  /*-----------HOMEPAGE-------------*/

  /*Hero Section*/
  .hero-section h1 {
    font-size: 3em;
    font-family: 'Poppins' sans-serif;
    font-weight: 400;
    padding-top: 30px;
    padding-left: 50px;
  }

  .hero-section {
    padding-top: 50px;
    background-image: url('../img/assets/jake-melara-30679-unsplash\ copy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    background-color: #202322;
  }
  
  /*.hero-section .content-wrapper {
    margin: 0;
  }*/

  /*Aside--Sign Up Form Area*/
  aside {
    padding-bottom: 35px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  aside h3 {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
  }
  
  aside p {
    font-size: 0.875em;
    font-family: 'Open Sans', sans-serif;
  }

  aside .form {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
  }

  aside .form-description {
    padding: 0 40px;
  }

  /*CORRECT CODE FROM HELPER CODE ADDED - but removes the classes for the form  */
  aside .form-description, 
  aside .content-wrapper {
      width: 35%;
      /*padding: 30px;*/
    }

  /*aside .content-wrapper {
    margin: 10px 20px;
    border: 4px dotted #f4f81e;
  }*/

    /* 
  aside .form-description p,
  aside .form-description h3 {
    border: 2px dotted purple;
  }

  main aside {
    border: 2px dotted purple;
  }
  */

  /*  aside .content-wrapper {
    CORRECT CODE FROM HELPER CODE ADDED - also added the class instead of styling the general element
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    border: 2px dotted #ff00dd;
     align-items: center;
    margin: 50px 0;
  }*/
  

  /*FEATURES*/
  .features {
    padding-bottom: 100px;
  }

  /*CORRECT CODE FROM HELPER CODE ADDED*/
  .features h2 {
    font-size: 2.25em;
    padding: 0 50px;
  }

  .features article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    /*my new code that helped create columns*/
    flex-basis: 40%;
    padding: 10px;
    margin: 15px;
  }

  .features .features-item-description {
    width: 50%;
  }

  .features i {
    font-size: 4.75em;
          margin-bottom: 40px;
  }

  /*commenting out to see if the helper code helps my issue
  .features {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  .features article {
    width: 60%;
    margin: 10px 0;
  }

  .features .features-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .features p {
    margin: 0;
  }*/

  /*CORRECT CODE FROM HELPER CODE ADDED*/
  .reviews article {
    display: flex;
    justify-content: space-between;
  }

  .reviews article div {
    width: 49%;
  }


  /*Reviews*/
  .reviews {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  .reviews h2 {
    margin: 20px 0;
  }

  .reviews h3 {
    width: 70%;
    margin: 0;
  }

  .reviews p {
    margin-top: 5px;
  }

  .reviews img {
    width: 85%;
    margin: 0;
    padding-left: 20px;
    
  }

  .reviews article div {
    width: 120%;
    
  }
  /*  .reviews figure,
  .reviews article div {
   
    border: 2px dotted #0cfc0c;
  }
  */

  /*.reviews h3, 
  .reviews p {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }
*/

  /*Footer*/
  footer .footer-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 0;
    /*padding: 10px 30px;
    padding: 10px;*/
  }

  footer .content-wrapper {
    width: 100%;
  }


  footer .social-icons p {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social i {
    font-size: 1.75em;
          margin-bottom: 40px;
          color: #527158;
  }

  footer .copyright p {
    padding: 0;
  }
  /*
  border: 2px dotted black;
  border: 2px dotted purple;

  footer .contact {
    margin-bottom: 0;
  }
  
  footer .content-wrapper {
    padding: 20px;
    
  }
  
  footer {
    border: 2px dotted yellow;
    padding: 20px 0;
  }
  */

  

  /*--------------FAQ PAGE-------------*/
  
  .faq .content-wrapper {
    margin: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .faq-content {
    flex-basis: 40%;
    padding: 30px;
    
  }

  /*CORRECT CODE FROM HELPER CODE ADDED*/
  .faq h2 {
    width: 100%;
  }

  /*
  .faq-content {
    flex-basis: 200px;
  }
  */



  /*--------ABOUT PAGE---------*/

  .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
  }

  .mission .content-wrapper {
    padding: 10px;
    margin: 40px 20px 50px 0;
    
  }

  .mission-content p {
    width: 45%;
    font-size: 0.875em;
    line-height: 18px;
  }

  .mission {
    padding-left: 45px;
  }

  .mission .content-wrapper h2{
    font-size: 2.075em;
    font-weight: 400;
  }

  .contact-section .content-wrapper h2 {
    width: 75%;
    margin-left: 5px;
  }

  .contact-content {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact-section .content-wrapper {
    width: 100%;
    /*margin: 50px 45px;
    padding: 10px;*/
  }

  .map figure {
    width: 100%;
    height: 0; 
    padding-bottom: 55%; 
    overflow: hidden;
    position: relative;
  }
   
  .map iframe {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0; 
    left: 0; 
  }


}

/*REMINDER: pay attention to the header divider div*/



@media only screen and (min-width: 1200px) {
  /*Desktop Styles Here*/

  /*STUCK: fixing the header, fixing the review section, spacing out the faqs*/

  /*CORRECT CODE ADDED BECAUSE OF ISSUES WITH FAQ AND ABOUT CONTENT*/
  .content-wrapper {
    max-width: 980px;
  }

  header {
    padding: 20px 0;
    /*width: 100%;*/
  }


  header img{
    width: 60%;
    margin: 0;
  }

  
  header .content-wrapper {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-left: 55px;
    /*padding: 0 280px;
    flex-basis: 200%;*/
  }

  /*header figure {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }


  header a {
    padding: 0;
  }

  header nav {
    width: 35%;
    display: flex;
    justify-content: center;
  }
  
  header nav ul {
    width: 45%;
  }
*/


  /*---------------HOMEPAGE-------------------*/

  /*--------HERO SECTION-------*/

  .hero-section h1 {
    font-size: 3.75em;
    font-family: 'Poppins' sans-serif;
    font-weight: 400;
    width: 75%;
    padding-top: 20px;
    padding-left: 140px;
  }

  .hero-section {
    padding-top: 50px;
    background-image: url('../img/assets/jake-melara-30679-unsplash\ copy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 700px;
    background-color: #202322;
  }

  /*--ASIDE--SIGNUP FORM--*/
  aside {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  aside .form {
    width: 25%;
    padding: 10px;
    margin-top: 10px;
  }

  /*CORRECT CODE FROM HELPER CODE ADDED - but removes the classes for the form  */
  aside .form-description, 
  aside .content-wrapper {
     width: 27%;
     padding-left: 10px;
  }

  aside .form h3 {
    font-size: 1.875em;
  }
  aside .form-description h3 {
    font-size: 1.875em;
  }

  aside .form-description p {
    font-size: 1.125em;
  }

    /* aside input {
      border: 4px dotted black;
    }*/

    /*aside .form-description {
    padding: 60px;
    border: 2px dotted #fdab40;
    }*/


    /*
    aside .content-wrapper {
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    border: 2px dotted #50fc50;
    align-items: center;
    margin: 50px 0;
    margin: 10px 20px;
    }*/

  /*FEATURES*/
  .features article {
    flex-basis: 27%;
    padding-right: 20px;
    margin-bottom: 50px;
    /*display: flex;
    justify-content: center;
    flex-flow: row wrap;*/
  }

  .features h2 {
    width: 70%;
    padding-left: 150px;
  }

  .features .features-item-description {
    padding-left: 43px;
    font-size: 1.125em;
    line-height: 24px;
  }

  .features i {
    font-size: 4.875em;
          margin-bottom: 25px;
          margin-left: 50px;
  }
  
  
  /*REVIEWS*/
  .reviews h2 {
    font-size: 2.25em;
    margin-bottom: 50px;
  }

  .reviews h3 {
    width: 80%;
    font-size: 1.875em;
  }

  .reviews article {
    width: 100%;
  }

  .reviews img {
    padding: 0;
    width: 90%;
  }

  .reviews p {
    font-size: 1.125em;
    line-height: 24px;
  }

  /* .reviews img {
    width: 72%;
  }
  .reviews {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }*/



  /*
  .reviews article {
    border: 2px dotted yellow;
  }*/

  /*
  .reviews article {
    padding: 50px 100px;
  }
  
  .reviews .content-wrapper {
    width: 200%;
    border: 2px dotted #2f4beb;
  }
  */

  /*Footer*/
  footer h4 {
    font-size: 1.875em;
  }

  footer .contact p {
    font-size: 1.125em;
    line-height: 24px;
  }


  .social i {
    font-size: 2.75em;
          margin-bottom: 40px;
          color: #527158;
  }

  footer .social-icons p {
    padding-left: 30px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  /*
    footer {
    padding: 5px 0;
  }

  footer .content-wrapper {
    width: 100%;
    padding: 0 65px;
  }

  CORRECT CODE FROM HELPER CODE ADDED
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  footer .social-icons p {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer .contact {
    width: 30%;
    margin-bottom: 0;
  }

  footer .social {
    width: 30%;
  }*/

  /*------------------FAQ----------------------*/

  .faq {
    padding-left: 130px;
  }

  .faq .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    /*margin: 60px 150px;*/
  }

  .faq h2 {
    padding: 10px;
  }

  /*
  .faq-content {
    flex-basis: 40%;
    margin-bottom: 20px;
  }

  .faq h4,
  .faq p {
    width: 100%;
  }
  */


  /*CORRECT CODE FROM HELPER CODE ADDED*/


  /*-------------------ABOUT--------------------*/

  .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  /*
  .mission .content-wrapper {
    padding: 10px;
    margin: 40px 20px 50px 0;
    border: 2px dotted rgb(4, 128, 0);
  }
  */

  .mission-content p {
    width: 45%;
    font-size: 1.125em;
    line-height: 24px;
  }

  .mission h2 {
    font-size: 3em;
  }


  .mission {
    padding-left: 150px;
    /*border: 2px dotted rgb(126, 128, 0);*/
  }

  .contact-section .content-wrapper h2 {
    width: 100%;
    margin-left: 140px;
    font-size: 3em;
  }

  .contact-content h4 {
    font-size: 1.875em;
  }
  
  /*contact section*/
  .contact-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
  }

  /* .contact-section .content-wrapper {
    margin-left: 150px;
    margin: 50px 45px;
    padding: 15px;
    border: 2px dotted purple;
  }*/


  .map figure {
    width: 100%;
    height: 0; 
    padding-bottom: 50%; 
    overflow: hidden;
    position: relative;
  }
   
  .map iframe {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0; 
    left: 0; 
  }



}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

